.button--primary {
  background-color: #00d1b2;
  border-color: #00d1b2;
  color: white;
}
.button--primary:hover {
  background-color: #00b8a0;
  border-color: #00b8a0;
  color: white;
}

/*.text--primary{
    color:$color
}
.border--primary{
    border: 1px solid $color;

}
.bg--primary{
    background-color:$color
}*/
.button--secondary {
  background-color: #fb0094;
  border-color: #fb0094;
  color: white;
}
.button--secondary:hover {
  background-color: #e7008a;
  border-color: #e7008a;
  color: white;
}

/*.text--secondary{
    color:$color
}
.border--secondary{
    border: 1px solid $color;

}
.bg--secondary{
    background-color:$color
}*/
.button--success {
  background-color: #8cc63f;
  border-color: #8cc63f;
  color: white;
}
.button--success:hover {
  background-color: #79a70a;
  border-color: #79a70a;
  color: white;
}

/*.text--success{
    color:$color
}
.border--success{
    border: 1px solid $color;

}
.bg--success{
    background-color:$color
}*/
.button--danger {
  background-color: #ff6263;
  border-color: #ff6263;
  color: white;
}
.button--danger:hover {
  background-color: #e55a5b;
  border-color: #e55a5b;
  color: white;
}

/*.text--danger{
    color:$color
}
.border--danger{
    border: 1px solid $color;

}
.bg--danger{
    background-color:$color
}*/
.button--warning {
  background-color: #f3af37;
  border-color: #f3af37;
  color: white;
}
.button--warning:hover {
  background-color: #cca300;
  border-color: #cca300;
  color: white;
}

/*.text--warning{
    color:$color
}
.border--warning{
    border: 1px solid $color;

}
.bg--warning{
    background-color:$color
}*/
.button--info {
  background-color: #00aef0;
  border-color: #00aef0;
  color: white;
}
.button--info:hover {
  background-color: #008ac9;
  border-color: #008ac9;
  color: white;
}

/*.text--info{
    color:$color
}
.border--info{
    border: 1px solid $color;

}
.bg--info{
    background-color:$color
}*/
.button--dark {
  background-color: #a800ff;
  border-color: #a800ff;
  color: white;
}
.button--dark:hover {
  background-color: #9100ff;
  border-color: #9100ff;
  color: white;
}

/*.text--dark{
    color:$color
}
.border--dark{
    border: 1px solid $color;

}
.bg--dark{
    background-color:$color
}*/
.button--light {
  background-color: #b2fffc;
  border-color: #b2fffc;
  color: #333;
}
.button--light:hover {
  background-color: #a3ffd6;
  border-color: #a3ffd6;
  color: #333;
}

/*.text--light{
    color:$color
}
.border--light{
    border: 1px solid $color;

}
.bg--light{
    background-color:$color
}*/
.bg--corvette {
  background-image: url("../img/corvette.png");
}

.bg--chevy {
  background-image: url("../img/chevy.png");
}

.bg--mustang {
  background-image: url("../img/mustang.png");
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.text-size--xs {
  font-size: 0.75rem;
}

.text-size--md {
  font-size: 1rem;
}

.text-size--lg {
  font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.card {
  border: 1px solid #acacac;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 3px 5px #ddd;
}
.card__title {
  font-style: 2rem;
  margin-bottom: 1rem;
}
.card__title--uppercase {
  text-transform: uppercase;
}
.card__title--capitalize {
  text-transform: capitalize;
}
.card__list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-bottom: 1rem;
}
.card__list-item {
  padding: 0.5rem 1rem;
}
.card__list-item:not(:last-child) {
  border-bottom: 1px solid #acacac;
}
.card__button-wrapper {
  display: flex;
  gap: 1rem;
}
.card__button-wrapper--column {
  flex-direction: column;
}

.button {
  height: 40px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
.button:hover {
  border: 1px solid #acacac;
  cursor: pointer;
  box-shadow: 3px 3px 5px #ddd;
}

.post-form {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px #ddd;
  border: 1px solid #acacac;
  padding: 1rem;
  background-color: slateblue;
  margin: 1rem;
}

.alert-box {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px #ddd;
  border: 1px solid #acacac;
  padding: 1rem;
  background-color: slateblue;
  margin: 1rem;
  color: white;
}

.users-list {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px #ddd;
  border: 1px solid #acacac;
  padding: 1rem;
  background-color: slateblue;
  margin: 1rem;
  background-color: peru;
}

.d-flex {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .card-wrapper {
    display: flex;
    gap: 1rem;
  }
  .card-wrapper__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */